<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_left - Copy (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,142}</string>
                <key>spriteSourceSize</key>
                <string>{65,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left - Copy (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,142}</string>
                <key>spriteSourceSize</key>
                <string>{65,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{65,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left - Copy (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,142}</string>
                <key>spriteSourceSize</key>
                <string>{65,142}</string>
                <key>textureRect</key>
                <string>{{0,284},{65,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left - Copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,142}</string>
                <key>spriteSourceSize</key>
                <string>{65,142}</string>
                <key>textureRect</key>
                <string>{{0,426},{65,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,142}</string>
                <key>spriteSourceSize</key>
                <string>{65,142}</string>
                <key>textureRect</key>
                <string>{{0,568},{65,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move_left.png</string>
            <key>size</key>
            <string>{65,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a195dc71113577b362ef1a9091331dd2:a7ca1f6b40700bb9261c790a8cf15c5a:5d17d6b3d0cec92740d790f963b909dd$</string>
            <key>textureFileName</key>
            <string>move_left.png</string>
        </dict>
    </dict>
</plist>
